.button {
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-image: url("../../images/close-circle.png");
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}