@import "variables";

body, p, h1, h2, h3, h4, h5, h6, button, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial;
}

.app {
  margin: 0 auto;
  width: 2048px;
  padding: 20px 50px;
}